---
import SectionContainer from './SectionContainer.astro';
import { PROJECTS } from '../data/projects';

const columnasPorFila = 2; 
---

<SectionContainer class="pb-23" id="projects">
  <h2 class="font-semibold text-2xl mb-7 flex gap-x-3 items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-code size-8"><polyline points="16 18 22 12 16 6"/><polyline points="8 6 2 12 8 18"/></svg>
    Proyectos Personales
  </h2>
  <div class={`grid grid-cols-1 md:grid-cols-${columnasPorFila} gap-6`}>
    {PROJECTS.map((project) => (
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-[...] transition-transform duration-200 hover:scale-105">        {project.image && (
          <img src={project.image} alt={project.title} class="w-full h-80 object-cover " />
        )}
        <div class="p-4">
          <h3 class="text-xl font-semibold text-white mb-2">{project.title}</h3>
          <p class="text-gray-400 text-sm mb-3">{project.description}</p>
          <div class="flex flex-wrap gap-2 mb-3">
            {project.technologies.map((tech) => (
              <span class="bg-gray-700 text-gray-300 rounded-full px-2 py-1 text-xs font-semibold">{tech}</span>
            ))}
          </div>
          <div class="flex gap-4">
            {project.github && (
              <a href={project.github} target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">GitHub</a>
            )}
            {project.liveDemo && (
              <a href={project.liveDemo} target="_blank" rel="noopener noreferrer" class="text-green-500 hover:underline">Demo</a>
            )}
          </div>
        </div>
      </div>
    ))}
  </div>
</SectionContainer>